.table-of-contents {
  display: grid;
  gap: var(--size-3);
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--size-content-1), var(--size-content-2))
  );
}

.table-of-contents div {
  box-shadow: var(--shadow-3);
  border: var(--border-size-2) solid var(--brand);
  padding: var(--size-6);
}

.table-of-contents h3 {
  font-size: var(--size-7);
  margin-bottom: var(--size-3);
}

.wrapper {
  display: grid;
  gap: var(--size-10);
  padding: var(--size-2);
}
w ul {
  list-style-position: inside;
  padding-left: 0;
}
li {
  padding: 0;
}
a {
  color: var(--text1);
}
a:visited {
  color: var(--text2);
}

@media screen and (min-width: 480px) {
  ul {
    padding-left: var(--size-3);
  }
  .wrapper {
    padding: var(--size-3);
  }
}
