htmltitle: Thursday after the Fourth Sunday of Lent
subtitle: The Death of Lazarus
scripture: Lazarus our friend sleepeth--(John xi. 11),
body {
  max-block-size: 100px;
}

h1 {
  max-inline-size: var(--size-header-2);
}
h2 {
  color: var(--text1);
  max-inline-size: var(--size-header-3);
  font-size: var(--font-size-7);
}

h3 {
  color: var(--text1);
  max-inline-size: var(--size-header-3);
  font-size: var(--font-size-4);
}

p {
  color: var(--text1);
}
header {
}

.markdown {
  display: grid;
  gap: var(--size-6);
}

.markdown p {
  margin-bottom: var(--size-3);
  max-inline-size: var(--size-content-2);
}

.markdown nav {
  display: flex;
  justify-content: space-between;
}

.subtitle {
  font-size: var(--font-size-5);
}

.scripture {
  font-size: var(--font-size-4);
  font-style: italic;
}

.wrapper {
  display: grid;
  justify-items: center;
}

.disabled {
  pointer-events: none;
  color: var(--gray-5);
}
