<footer>
  <a href="https://aaronhubbard.dev">Aaron Hubbard Web Dev</a>
  <a href="https://astro.build">Made with Astro 🚀</a>
</footer>

<style>
  footer {
    padding: var(--size-3);
    display: flex;
    justify-content: space-around;
        background-color: var(--surface2)

  }

  a {
    color: var(--text1);
    padding-right: var(--size-3);
  }

  a:hover{
      color: var(--brand);
  }
</style>
