---
import Toggle from "../components/Toggle.astro"
---
<header>
  <nav>
    <a class="nav" href="/">Home</a>
    <a class="nav" href="/about">About</a>
  </nav>
  <h1 class="title">Meditations for Lent by Thomas Aquinas</h1>
  <Toggle />
</header>

<style>
  header {
    padding: var(--size-2);
    display: grid;
    grid-template-columns: 1fr auto;
    background-color: var(--surface2);
    align-items: center;
    border-bottom: var(--border-size-2) solid var(--brand);
    box-shadow: var(--shadow-2)
  }

  header h1 {
    font-size: var(--font-size-3);
    text-align: center;
    max-inline-size: none;
    color: var(--text1);

  }

  nav{
    display: flex;
  }

  a {
    color: var(--text1);
    padding-right: var(--size-3);
    font-family: 'Cormorant Garamond', serif;
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-7)
  }

  a:hover{
      color: var(--brand);
  }

  .title{
    display: none;
  }

  @media screen and (min-width: 480px) {
    header {
      padding: var(--size-2) var(--size-6);
      grid-template-columns: auto 1fr auto;
    }
    .title{
      display: contents;
    }
  }
</style>