---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const { title } = Astro.props;
---

<html>
  <head>
    <title>{title || "missing title"}</title>
    <link
      rel="stylesheet"
      type="text/css"
      href={Astro.resolve("../styles/global.css")}
    />
    <link
      rel="stylesheet"
      type="text/css"
      href={Astro.resolve("../styles/baseLayout.css")}
    />
  </head>
  <body>
    <Header />
    <main class="wrapper">
      <slot />
    </main>
    <Footer />
  </body>
</html>
