---
import BaseLayout from "../layouts/BaseLayout.astro";
const { content } = Astro.props;
const title = content.title || "Day's reflection";
---

<BaseLayout {title}>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href={Astro.resolve("../styles/reflection.css")}
    />
  </head>
  <div class="markdown">
    <header>
      <h1 class="text1">{content.title}</h1>
      <h2 class="text2 subtitle">{content.subtitle || ""}</h2>
      <h2 class="text2 scripture">{content.scripture}</h2>
    </header>

    <main class="markdown">
      <slot />
    </main>
  </div>
</BaseLayout>
